html {
  font-family: Arial, Helvetica, sans-serif; 
  display: inline-block; 
  text-align: center;
}
h1 {
  font-size: 1.8rem; 
  color: white;
}
p { 
  font-size: 1.4rem;
  color:#1cc3ab
}
.topnav { 
  background-color: #0A1128;
  grid-area: titolo;
}
body {  
  margin: 0;
}
.content { 
    display: grid;
    background-color: #ffd65c; 
    height:100vh;
    align-content: center;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 6fr;
    grid-template-areas:
    "titolo titolo"
    "varie grafico"
    "varie cursori"
}


.card { 
   
  background-color: rebeccapurple; 
  border-style:solid;
  border-color:brown;
  border-width: 2px;
  align-items: center;    
  
}



.varie {
	grid-area: varie;
}


.grafico {
	grid-area: grafico;
}


.cursori {
	grid-area: cursori;
	/*width: 100%;
	height: 100%;
	background-size:100% 100%;
    background-image: url("cronotermostato_fondo.jpg");  */
}


.canvascrono {
	heigth:100%;
	width:100%;
    color: pink; 
/*    background-size:100% 100%;
    background-image: url("cronotermostato_fondo.jpg");  */

}